* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Recoleta";
    src: url(fonts/recoleta-regular-webfont.woff2) format("woff2"),
         url(fonts/recoleta-bold-webfont.woff) format("woff");
}

body {
    display: flex;
    background-color: #f7f7f7;
    font-family: Recoleta, sans-serif;
}

.img-section {
    height: 100vh;
    width: 35vw;
    background-image: url(images/louis-paulin-T0qM8clFfiw-unsplash.jpg);
    background-size: 100vh;
    background-position: center;
    padding-top: 130px;
}

.odin-img {
    background-color: hsl(271 100% 1% / 0.45);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.odin-img img {
    height: 110px;
}

.odin-img p {
font-size: 5em;
color: white;
}

.img-credit {
    position: absolute;
    bottom: 10px;
    left: 120px;
    color: white;
    font-size: 14px;
}

.img-credit a {
    color: white;
}

.heading-section {
    height: 34vh;
    width: 100%;
}

.form-section {
    height: 66vh;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-background {
    background-color: white;
    padding-bottom: 20px;
    box-shadow: lightgray 3px 3px 10px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 30px;

}

form h2,
form button {
    width: 100%;
}

h2, button, 
.form-section p {
    margin: 20px 30px
}

button {
    font-family: inherit;
}

.right {
    flex-grow: 2;
}