* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #f7f7f7;
}

.img-section {
    height: 100vh;
    width: 35vw;
    background-image: url(images/louis-paulin-T0qM8clFfiw-unsplash.jpg);
    background-size: 100vh;
    background-position: center;
}

.odin-img img{
    height: 150px;
}

.heading-section {
    height: 34vh;
    width: 100%;
}

.form-section {
    height: 66vh;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-background {
    background-color: white;
    padding-bottom: 20px;
    box-shadow: lightgray 3px 3px 10px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 30px;

}

form h2,
form button {
    width: 100%;
}

h2, button, 
.form-section p {
    margin: 20px 30px
}

.right {
    flex-grow: 2;
}